.flex {
  display: flex;

  &--items-center {
    align-items: center;
  }

  &--inline {
    display: inline-flex;
  }

  &--shrink-0 {
    flex-shrink: 0;
  }

  li,
  span,
  div {
    list-style: none;
    flex: 1;
  }

  &__large {
    flex-grow: 2;
  }

  &__logo {
    width: 30px;
    height: auto;
  }
}
