tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

table {
  border-collapse: separate;
  text-indent: initial;
  border-spacing: 2px;
  border-collapse: collapse;
}
body {
  background-color: #fff;
  background-color: #f9fafb;
  -webkit-font-smoothing: antialiased;
}
html {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}
